<div class="stats">
    <div class="stat-card">
        <div class="stat-number" id="totalLeads">0</div>
        <div class="stat-label">Total Leads</div>
    </div>
    <div class="stat-card">
        <div class="stat-number" id="lastUpdate">--:--</div>
        <div class="stat-label">Last Update</div>
    </div>
</div>